{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">测试平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ user }}</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/manage/project_manage/">项目管理</a></li>
                    <li class="active"><a href="/manage/module_manage/">模块管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/interface/case_manage/">用例管理</a></li>
                    <li><a href="">任务管理</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">mockserver</a></li>
                    <li><a href="">测试工具</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if type == 'list' %}
                <h3 class="sub-header">模块列表</h3>
                <br/>
                <a href="/manage/add_module/" class="btn btn-default btn-sm active" style="float: right;">
                    <span class="glyphicon glyphicon-plus"  style=" color: rgb(30, 110, 190); font-size: 14px;"> 创建模块</span>
                </a>
                <br/><br/>

                <div class="table-responsive">
                    <table class="table table-striped" id="mlist">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>名称</th>
                                <th>描述</th>
                                <th>所属项目</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for module in modules %}
                            <tr>
                                <td>{{ module.id }}</td>
                                <td>{{ module.name }}</td>
                                <td>{{ module.describe }}</td>
                                <td>{{ module.project }}</td>
                                <td>{{ module.create_time | date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="/manage/edit_module/{{module.id}}/" data-toggle="tooltip" title="编辑"><span class="glyphicon glyphicon-pencil"></span></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/manage/delete_module/{{module.id}}/" data-toggle="tooltip" title="删除" ><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if type == 'add' %}
            <h3 class="sub-header">添加模块</h3>
                <br/>

                <div class="table-responsive">
                    <form action="/manage/add_module/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <button type="submit" class="btn btn-primary" value="Submit" id="SaveButton">保存</button>
                    </form>
                </div>
            </div>
        {% endif %}

        {% if type == 'edit' %}
            <h3 class="sub-header">编辑模块</h3>
                <br/>

                <div class="table-responsive">
                <form role="form"  method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button onclick="window.location.href='/manage/edit_module/{{ mid }}/'" type="submit" class="btn btn-primary" id="SaveButton">保存</button>
                </form>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}